.book{color: black; font-weight: 800; text-decoration: underline; background-color: hotpink;}
.firstclass{
    list-style-type: none;
            }
    .firstclass li::before {
                    margin-right: 40px;
                    content: '\B7';
                            }
.secondclass{
    list-style-type: none;
             }
     .secondclass li::before {
                    margin-right: 10px;
                    content: '\A7';
                            }
.thirdclass{
    list-style-type: none;
            }
    .thirdclass li::before {
                    margin-right: 20px;
                    content: 'o';
                            }
